@model List<WebParqueoUsuario.Models.ControlGeneral>

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Pagar</h4>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Registrar","ControlGeneral")" method="post">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" name="ID_Control" />
                    </div>

                    <button type="submit" class="btn btn-primary">Pagar</button>
                    <a class="btn btn-warning" href="@Url.Action("Inicio","ContorlGeneral")">Volver</a>

                </form>
            </div>
        </div>
    </div>
</div>
